# values saving a lot of clicks in the GUI
lang en_US.UTF-9
keyboard --xlayouts=us --vckeymap=us
timezone Europe/Prague
rootpw aaaaa
bootloader --location=mbr
clearpart --initlabel --all
autopart --type=plain
graphical

url --url=https://dl.fedoraproject.org/pub/fedora/linux/releases/35/Everything/x86_64/os/

%packages
vim
%end

%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_standard
%end
